.inputs-button-container {
    text-align: center;
}

.rollback-button-container {
    margin:1rem 0rem 0rem 1rem;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.input-tag {
    font-family: Exo2-Medium;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 4px rgba(0, 0, 0, 0), 0px 0px 3px #000000, 1px 1px 3px #000000, 2px 2px 3px #000000, -1px -1px 3px #000000, -2px -2px 0px #000000;

}

.tag {
    color: #b0f2ff;
    font-size: 2.5rem;
}

.input {
    background: linear-gradient(180deg, rgba(0, 212, 255, 1) 0%, rgba(121, 232, 255, 1) 17%, rgba(151, 237, 255, 1) 36%, rgba(121, 232, 255, 1) 78%, rgba(0, 212, 255, 1) 100%);
    font-size: 2.5rem;
    padding: .5rem;
    color: #b0f2ff;
}


.selector-var-type {
    font-size: 3rem;
    text-align: center;
    width: 30.7rem;
    height: 5.3rem;
    background: linear-gradient(180deg, rgba(0, 212, 255, 1) 0%, rgba(121, 232, 255, 1) 17%, rgba(151, 237, 255, 1) 36%, rgba(121, 232, 255, 1) 78%, rgba(0, 212, 255, 1) 100%);
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 4px rgba(0, 0, 0, 0), 0px 0px 3px #000000, 1px 1px 3px #000000, 2px 2px 3px #000000, -1px -1px 3px #000000, -2px -2px 0px #000000;
    color: #b0f2ff;
    cursor: pointer;

}

.selector-var-type-options{
    background-color: #4074b5;
}

.button{
    font-family: Exo2-Medium;
    font-size: 3rem;
    transition: color .2s;
}

#button-cancel{
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(121,232,255,1) 17%, rgba(151,237,255,1) 36%, rgba(121,232,255,1) 78%, rgba(0,212,255,1) 100%);
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 4px rgba(0,0,0,0), 0px 0px 3px #000000, 1px 1px 3px #000000, 2px 2px 3px #000000, -1px -1px 3px #000000, -2px -2px 0px #000000;
    color: #1b99b3;
}

#button-cancel:hover{
    background: linear-gradient(180deg, rgba(170,78,78,1) 0%, rgba(201,49,49,1) 17%, rgba(255,100,100,1) 30%, rgba(255,122,122,1) 42%, rgba(255,100,100,1) 75%, rgba(201,49,49,1) 88%, rgba(170,78,78,1) 100%);
    text-shadow: 2px 2px 0 #681313, 2px -2px 0 #681313, -2px 2px 0 #681313, -2px -2px 0 #681313, 2px 0px 0 #681313, 0px 2px 0 #681313, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 4px rgba(0,0,0,0), 0px 0px 3px #000000, 1px 1px 3px #000000, 2px 2px 3px #000000, -1px -1px 3px #000000, -2px -2px 0px #000000;
    color: #ff4848;
}

#button-save{
    margin: 3rem 5rem 10rem 0rem ;
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(121,232,255,1) 17%, rgba(151,237,255,1) 36%, rgba(121,232,255,1) 78%, rgba(0,212,255,1) 100%);
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 4px rgba(0,0,0,0), 0px 0px 3px #000000, 1px 1px 3px #000000, 2px 2px 3px #000000, -1px -1px 3px #000000, -2px -2px 0px #000000;
    color: #1b99b3;
}

#button-save:hover{
    background: linear-gradient(180deg, rgba(56,140,32,1) 0%, rgba(68,156,43,1) 17%, rgba(77,168,52,1) 30%, rgba(115,170,99,1) 42%, rgba(77,168,52,1) 75%, rgba(68,156,43,1) 88%, rgba(56,140,32,1) 100%);
    text-shadow: 2px 2px 0 #194322, 2px -2px 0 #194322, -2px 2px 0 #194322, -2px -2px 0 #194322, 2px 0px 0 #194322, 0px 2px 0 #194322, -2px 0px 0 #194322, 0px -2px 0 #194322, -2px 0px 4px rgba(0,0,0,0), 0px 0px 3px #000000, 1px 1px 3px #000000, 2px 2px 3px #000000, -1px -1px 3px #000000, -2px -2px 0px #000000;
    color: #6cb77c;
}


#rollback-button {
    padding: 3rem;
    background-size: contain;
    background-image: url('../resources/images/back-button-out.png');
    transition: background-image .3s;
}

#rollback-button:hover {
    background-image: url('../resources/images/back-button-in.png');
}
