.button-container {
    display: inline-block;
    width: 100%;
}


.redirect-button-container {
    margin: 1rem 0rem 0rem 1rem;
    text-align: center;
}

.button{
    background: rgb(0,212,255);
    font-family: Exo2-Medium;
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(121,232,255,1) 17%, rgba(151,237,255,1) 36%, rgba(121,232,255,1) 78%, rgba(0,212,255,1) 100%);
    color: #1E92AA;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 4px rgba(0,0,0,0), 0px 0px 3px #000000, 1px 1px 3px #000000, 2px 2px 3px #000000, -1px -1px 3px #000000, -2px -2px 0px #000000;
    transition: color .2s;
}

.button:hover{
    color: #30dcff;
}

.redirect-button {
    font-size: 3rem;
}

